<!DOCTYPE html>
<html>
<head>
</head>

<body>

    <h1>Getting Started with Node on Heroku Part 2</h1>
    <ul>
    <% results.forEach(function(r) { %>
        <li>
            <strong><%= r.Id %></strong>
            <small><%= r.FirstName %></small>
            <small><%= r.LastName %></small>
        </li>
    <% }); %>
</ul>
    
</body>
</html>
