<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
	</script>
	<meta charset="UTF-8">
</head>
<body>
    <h2> Profile Details</h2>
    <br>
	
   <form action='/saveProfile' method="POST">
   		<table>
   			<tr>
				<td>Name: </td>
				<td><input type="text" name="name" value= "<%= name %>"></td>
			</tr>
			<tr>
				<td>Title: </td>
				<td><input type="text" name="title" value= "<%= title %>"></td>
			</tr>
			<tr>
				<td>Mobile Phone: </td>
				<td><input type="text" name="mobilePhone" value= "<%= mobilePhone %>"></td>
			</tr>
			<tr>
				<td colspan="2"> <input type="submit" id = 'submit' value = "Submit"> </td>
			</tr>
	</table>
	<input type="hidden" name="externalid" value="<%= externalid %>" />
</form>

</body>
</html>
